################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/PGDatabase/.vs
/PGDatabase/NuGet.PGDatabases
/PGDatabase/NuGet.DBCodeHelper
/PGDatabase/packages
/PGDatabase/PGRelease
/PGDatabase/PGDataBase/obj
/PGDatabase/PGDataBase/bin
